:host {
  display: block;
  font-size: 18px;
}
div.container {
  position: relative;
}
.indicator {
  background-color: rgba(255,215,0,0.1);
  position: absolute;
  z-index: 2;
}
.indicator__cta {
  top: -20px;
  left: 50%;
  position: absolute;
}
.indicator__cta-link {
  background-color: #333333;
  border-radius: 5px 5px 5px 5px;
  bottom: 0px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
  color: #FFFFFF;
  cursor: pointer;
  left: 0px;
  padding: 11px 22px 10px 22px;
  position: absolute;
  transform: translateX(-50%);
  white-space: nowrap;
}
.indicator__cta-link:after {
  bottom: -11px;
  font-size: 15px;
  left: 50%;
  line-height: 15px;
  content: "▼";
  color: #333333;
  position: absolute;
  transform: translateX(-50%);
}
.indicator__cta-link:hover {
  background-color: gold;
  color: #000000;
}
.indicator__cta-link:hover:after {
  color: gold;
}
