<div>
  <div class="text-center">
    <h1>Ajoutez des labels</h1>


    <input type="text" id="label" #label>
    <button type="button" class="btn btn-primary"(click)="add(label.value);label.value">Ajouter vos Labels</button>
    <br>








  <h2>Label list</h2>
  <div *ngFor="let i of labels">
    <div *ngIf="i.id>0">


    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" value="{{i.label}}"
    [checked]="false" (change)="changeselectedlabel($event)"
>
    <label class="form-check-label" for="flexRadioDefault1"> {{i.label}}  </label>
  </div>
</div>


</div>
<div (textSelect)="renderRectangles( $event )" class="container">
  <p>
    Martinus agens illas provincias pro praefectis aerumnas innocentium graviter gemens saepeque obsecrans, ut ab omni culpa inmunibus parceretur, cum non inpetraret, minabatur se discessurum: ut saltem id metuens perquisitor malivolus tandem desineret quieti coalitos homines in aperta pericula proiectare.


  </p>
  <!--
    The host rectangle has to be contained WITHIN the element that has the
    [textSelect] directive because the rectangle will be absolutely
    positioned relative to said element.
  -->
  <div
    *ngIf="hostRectangle"
    class="indicator"
    [style.left.px]="hostRectangle.left"
    [style.top.px]="hostRectangle.top"
    [style.width.px]="hostRectangle.width"
    [style.height.px]="0">
    <div class="indicator__cta">
      <!--
        NOTE: Because we DON'T WANT the selected text to get deselected
        when we click on the call-to-action, we have to PREVENT THE
        DEFAULT BEHAVIOR and STOP PROPAGATION on some of the events. The
        byproduct of this is that the (click) event won't fire. As such,
        we then have to consume the click-intent by way of the (mouseup)
        event.
      -->

    </div>
  </div>
</div>
<div>
</div>
<div class="text-center">
  <button class="btn btn-success" (click)= "sendJson()" type="submit">JSON</button>

</div>
